<a href="https://colab.research.google.com/github/smperez1997/PRY_MachineLearning/blob/main/Limpieza_Datos_Celsius_Fahrenheit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
#importar las librerias
import pandas as pd
import numpy as ny

In [73]:
#importar el dataset
df = pd.read_csv("celsius_a_fahrenheit.csv")

In [55]:
#Función describe que regresa los valores de estas estadísticas para las columnas numéricas
df.describe()

          Celsius  Fahrenheit
count   30.000000   26.000000
mean    -2.133333   39.269231
std     32.683153   27.817919
min   -108.000000    5.000000
25%     -6.750000   21.650000
50%      0.500000   32.900000
75%      7.750000   44.150000
max     60.000000  122.000000

In [56]:
#función head para ver la información de mis datos
df.head(30)

    Celsius  Fahrenheit
0      -108         NaN
1       -80         NaN
2       -52         NaN
3       -24         NaN
4       -10        14.0
5        -9        15.8
6        -8        17.6
7        -7        19.4
8        -6        21.2
9        -5        23.0
10       -4        24.8
11       -3        26.6
12       -2        28.4
13       -1        30.2
14        0        32.0
15        1        33.8
16        2        35.6
17        3        37.4
18        4        39.2
19        5        41.0
20        6        42.8
21        7        44.6
22        8        46.4
23        9        48.2
24       10         5.0
25       20        68.0
26       30        86.0
27       40       104.0
28       50       122.0
29       60        14.0

In [57]:
#función para el tipo de dato
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Celsius     30 non-null     int64
 1   Fahrenheit  26 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 608.0 bytes

In [58]:
#Verificar si hay datos perdidos
datos_vacios = df.isnull()
for columna in datos_vacios.columns.values.tolist():
    print(columna)
    print(datos_vacios[columna].value_counts())
    print('')

Celsius
False    30
Name: Celsius, dtype: int64

Fahrenheit
False    26
True      4
Name: Fahrenheit, dtype: int64

In [65]:
#Eliminar las columnas vacías reemplazando los valores perdidos por ny.nan 
df.replace("?", ny.nan, inplace = True)
df.dropna(subset=['Fahrenheit'], axis = 0, inplace= True)
df.reset_index(drop = True, inplace = True)

In [68]:
#Remplazar los datos perdidos por el promedio de la misma columna.
average_column_name = df['Fahrenheit'].astype(float).mean(axis = 0)

In [69]:
#Obtener el promedio
df['Fahrenheit'].replace(ny.nan, average_column_name, inplace = True)

In [70]:
#visualizar las filas y columnas con la función shape
print(df.shape)

(26, 2)

In [71]:
#Limpieza de datos
df.head(26)

    Celsius  Fahrenheit
0       -10        14.0
1        -9        15.8
2        -8        17.6
3        -7        19.4
4        -6        21.2
5        -5        23.0
6        -4        24.8
7        -3        26.6
8        -2        28.4
9        -1        30.2
10        0        32.0
11        1        33.8
12        2        35.6
13        3        37.4
14        4        39.2
15        5        41.0
16        6        42.8
17        7        44.6
18        8        46.4
19        9        48.2
20       10         5.0
21       20        68.0
22       30        86.0
23       40       104.0
24       50       122.0
25       60        14.0